@model List<BookApp.Models.DTO.BookDto>
    @{ 
        List<BookApp.Models.DTO.BookDto> books = Model;
    }
<div id="books">
    <table class="table">
        <thead>
            <tr>
                <th>Автор</th>
                <th>Наименование</th>
                <th>Год</th>
                <th>Действия</th>
            </tr>
        </thead>
        @foreach (var book in books)
        {
            <tr>
                <td>@book.Author</td>
                <td>@book.Title</td>
                <td>@book.Year</td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = book.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Удалить", "Delete", new { id = book.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }

    </table>
</div>